package-manager-strict=false
onlyBuiltDependencies[]="@prisma/client"
onlyBuiltDependencies[]="@prisma/engines"
onlyBuiltDependencies[]="prisma"
onlyBuiltDependencies[]="sharp"
onlyBuiltDependencies[]="unrs-resolver"
onlyBuiltDependencies[]="esbuild"
onlyBuiltDependencies[]="@parcel/watcher"
onlyBuiltDependencies[]="@swc/core"
